<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.LikeRecordMapper">
  <sql id="Base_Column_List">
    record_id, user_id, post_id, like_or_not
  </sql>

</mapper>